.button-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .button-card {
    background-color: #0d2235;
    color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    min-width: 320px;
    width: 40%; /* default width for 2 cards per row */
    height: 25vh; /* height of each card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .button-card {
      width: 80%; /* width for 1 card per row on smaller screens */
    }
  }
  
  .button-card h3 {
    margin: 0 0 10px;
  }
  
  .button-card button {
    background-color: #fff;
    border: none;
    color: #2c3e50;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-self: flex-end; /* align "Edit" button to the bottom of the card */
  }

  .edit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1c2237;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .edit-icon:hover {
    background-color: #1a1c28;
    box-shadow: 0px 0px 10px #d8d5d0;
    animation: pulse 5s ease-out infinite;
  }
  
  .edit-icon svg {
    color: #fff;
    font-size: 16px;
  }
  
  .edit-icon:hover svg {
    color: #fff;
    text-shadow: 0px 0px 10px #ff9d00;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  