body {
    font-family: Arial, sans-serif;
    background-color: #1c2331;
    background-size: cover;
  }
  
  
  .sighup-title-div{
    border-bottom: 2px solid #fff;
    margin: 10px;
  }

  .signup-h1{
    color: #fff;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #666;
  }
  
  input[type="email"],
  input[type="password"]{
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    font-size: 1.1em;
  }
  
  input[type="submit"] {
    box-sizing: border-box;
    display: block;
    border: 2px solid #fff;
    background-color: #1c2331;
    margin: 20px auto;
    color: #fff;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: ease;
    font-weight: bold;
    width: 80%;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #fff;
    border: 2px solid #1c2331;
    color:#1c2331;
    font-weight: bold;
  }

  .border-bottom{
    border-bottom: 2px solid #fff;
  }

  .sign-up-p {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }
  
  button {
    margin-top: 20px;
    margin: 20px auto;
    display: block;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    color: #fff;
    background-color: #7a5454;
  }

  .sign-up-submit:hover{
    background-color: #fff;
    border: 2px solid #1c2331;
    color:#1c2331;
    font-weight: bold;
  }

  .sign-up-submit{
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: #1c2331;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease;
    margin: 20px auto;
  }