.sign-up-a {
  box-sizing: border-box;
  display: block;
  border: 2px solid #fff;
  background-color: #1c2331;
  margin: 20px auto;
  color: #fff;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: ease;
  font-weight: bold;
  width: 80%;
  color: #fff;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  }
  
  .sign-up-a:hover {
    background-color: #fff;
    border: 2px solid #1c2331;
    color:#1c2331;
    font-weight: bold;
  }
  