.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c2331;
  padding: 20px;
  min-height: 80vh;
  position: relative;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #29303b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 250px;
}

.skills-item h2{
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.skills-description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
}

.skills-keywords {
  font-size: 12px;
  font-style: italic;
  color: #fff;
}

.skills-keyword {
  margin-right: 5px;
}

.skills-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.skills-edit {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: #1c2331;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease;
  margin-right: 10px;
  font-weight: bold;
}
.skills-delete {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease;
  margin-right: 10px;
  font-weight: bold;
}

.skills-edit:hover,
.skills-delete:hover {
    background-color: #fff;
    border: 2px solid #1c2331;
    color:#1c2331;
    font-weight: bold;
}

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track {
background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
background-color: #1c2331;
border-radius: 10px;
}

.skill-expand-button:hover {
  box-shadow: 0px 0px 20px rgba(223, 225, 226, 0.304);
  cursor: pointer;
}

.skill-expand-button {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100px;
  background-color: transparent;
  margin: 5px;
  color: #f5f5f5;
  transition: box-shadow 0.3s ease;
}

.skills-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  width: 100%;
}

.skills-title {
  margin: 0;
  font-size: 2rem;
  text-align: center; /* added to center the text within the width */
  width: 100%;
  color:#fff;
}

.skills-title-page {
  background-color: #29303b;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  min-width: 250px;
}

.skills-p{
  color: #fff;
}

.skills-p-bottom{
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}